<!DOCTYPE html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="home">
        <img src="/background.jpg"/>
    </div>
    <div class="btn">
        <button class="btn-login" ><a href="/login">Login</a></button>
        <button class="btn-signup"><a href="/signup">Sign Up</a></button>
    </div>
</body>
</html>