<!DOCTYPE html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="login_bi">
            <form action="/login" method="post" class="login"> 
            <h2>Login</h2>
            <br>
            <h3>Username: </h3>
            <input type="text" name="username"/>
            <h3>Password: </h3>
            <input type="password" name="password">
            <br>
            <button type="submit" class="save">Login</button>
            </form>
    </div>
    
</body>


</html>